<div class="container">
    {% for post in posts %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 h-md-200 shadow-sm position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <div class="category-link mb-2">
                <a class="link-secondary" href="{% url 'blog:category' category_name=post.category %}">{{ post.category }}</a>
            </div>
            <h4 class="card-text mb-0">{{ post.subject }}</h4>
            <div class="mb-1 text-muted">{{ post.created_at|date:"SHORT_DATETIME_FORMAT" }}</div>
            <p class="card-text mb-auto">{{ post.content }}</p>
            <a href="{{ post.get_absolute_url }}" class="stretched-link link-dark">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
    </div>
    {% endfor %}
</div>