{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    {% include 'header.html' %}
    {% if ctgr_tree %}
    <div class='container mb-2'>
        <a class="small link-secondary" href={% url 'blog:main' %}>Blog</a>
        {% for ctgr in ctgr_tree %}
        <span class="small text-secondary">></span>
        <a class="small link-secondary" href={% url 'blog:category' category_name=ctgr %}>{{ ctgr }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'blog/post_list.html' %}
    {% if user.is_staff %}
    <div class='container'> 
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:write' %}">Post Write</a>
    </div>
    {% endif %}
{% endblock%}