{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    {% include 'header.html' %}
    {% if ctgr_tree %}
    <div class='container mb-2'>
        <a class="small link-secondary" href={% url 'blog:main' %}>Blog</a>
        {% for ctgr in ctgr_tree %}
        <span class="small text-secondary">></span>
        <a class="small link-secondary" href={% url 'blog:category' category_name=ctgr %}>{{ ctgr }}</a>
        {% endfor %}
    </div>
    {% endif %}
    <div class='container mb-2'>
        <h1 class="mb-1" style="font-weight: bold;">{{ post.subject }}</h1>
        <div class="mb-1 text-muted">{{ post.created_at|date:"SHORT_DATETIME_FORMAT" }}</div>
    </div>
{% endblock%}