.header-blog {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
  
.header-blog-logo {
    font-family: "Roboto Slab", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}
  
.header-blog-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}