<div class="container">
    <header class="header-blog py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3 pt-1">
                <a class="link-secondary" href="https://github.com/uham" target="_blank">Github</a>
            </div>
            <div class="col-6 text-center">
                <a class="header-blog-logo text-dark" href="{% url 'blog:main' %}">Cometlog</a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                {% if user.is_anonymous %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'account:signin' %}">Sign in</a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'account:signout' %}">Sign out</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" href="#">Programming</a>
            <a class="p-2 link-secondary" href="#">Security</a>
            <a class="p-2 link-secondary" href="#">Cryptography</a>
            <a class="p-2 link-secondary" href="#">Mathematics</a>
            <a class="p-2 link-secondary" href="#">Software Engineering</a>
            <a class="p-2 link-secondary" href="#">Cometlog</a>
            <a class="p-2 link-secondary" href="#">GO</a>
        </nav>
    </div>
</div>